# MongoDB
MONGO_URI=

# Auth0
AUTH0_DOMAIN=
AUTH0_AUDIENCE=

# Square
SQUARE_ACCESS_TOKEN=
SQUARE_SIGNATURE_KEY=
SQUARE_RETAIL_LOCATION_ID=
INTRO_CLASS_CATALOG_OBJECT_ID=
DROP_IN_CATALOG_OBJECT_ID=
SQUARE_WEBHOOK_URL=

# App Config
PORT=5000
APP_TIMEZONE=America/New_York
CLIENT_URL=http://localhost:5173
